// source
@forward "uswds-core";

// dependencies
@use "uswds-core" as *;
@use "../../../packages/nfip/nfip-colors/src/styles" as *;
@use "uswds-core/src/styles/mixins/general/focus-outline" as *;

// screen width custom variables
$tablet: "(min-width: 640px)";
$md: "(min-width: 800px)";
$desktop: "(min-width: 1024px)";

.content-container {
  max-width: 96rem;
}

// Focus indicator
@mixin nfip-focus($outline-color: $theme-color-accent-cool) {
  outline: 2px solid $outline-color;
  outline-offset: 0.15rem;
  box-shadow: 0 0 0 2px #fff; // additional outline for darker backgrounds where the outline color doesn't meet minimum contrast
}
*:focus,
[href]:focus,
button:not([disabled]):focus,
input:not([disabled]):focus,
select:not([disabled]):focus,
textarea:not([disabled]):focus {
  @include nfip-focus;
}

// base font default
body {
  @include u-font-size(body, 6);
  @include u-line-height(body, 4);
}

// base link: add underline for 508 and to match live site
a {
  text-decoration: underline;
}
// dark bg fix for spans inside links
.usa-dark-background {
  a {
    span {
      color: $theme-color-accent-cool-lightest;

      &:hover,
      &:active {
        color: #fff;
      }
    }
  }
}

// .text-white fixes
.text-white,
.usa-dark-background {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }
}

.intro {
  @include u-font-size("sans", 8);
  @include u-text("semibold");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  color: $theme-color-primary-darker;
  @include u-line-height("body", 2);
}

@mixin nfip-h1 {
  @include u-font-size(sans, 13);

  @include at-media("tablet-lg") {
    @include u-font-size(sans, 14);
  }
}
@mixin nfip-h2 {
  @include u-font-size(sans, 11);

  @include at-media("tablet-lg") {
    @include u-font-size(sans, 12);
  }
}
@mixin nfip-h3 {
  @include u-font-size(sans, 10);

  @include at-media("tablet-lg") {
    @include u-font-size(sans, 11);
  }
}
@mixin nfip-h4 {
  @include u-font-size(sans, 9);

  @include at-media("tablet-lg") {
    @include u-font-size(sans, 10);
  }
}
@mixin nfip-h5 {
  @include u-font-size(sans, 8);

  @include at-media("tablet-lg") {
    @include u-font-size(sans, 9);
  }
}
@mixin nfip-h6 {
  @include u-font-size(sans, 7);
  font-weight: bold;

  @include at-media("tablet-lg") {
    @include u-font-size(sans, 8);
  }
}

h1 {
  @include nfip-h1;
}
h2 {
  @include nfip-h2;
}
h3 {
  @include nfip-h3;
}
h4 {
  @include nfip-h4;
}
h5 {
  @include nfip-h5;
}
h6 {
  @include nfip-h6;
}

.nfip-heading-xl {
  // legacy / one-of, don't use
  @include u-font-size(sans, 14);
  font-weight: 600;

  @include at-media("tablet-lg") {
    @include u-font-size(sans, 16);
  }
}
.nfip-heading-lg {
  // legacy / one-of, don't use
  @include u-font-size(sans, 11);
  font-weight: 600;

  @include at-media("tablet-lg") {
    @include u-font-size(sans, 13);
  }
}

// font size tokens
.font-size-sans-9 {
  @include u-font-size("sans", 9);
}
.font-sans-7 {
  @include u-font-size("sans", 7);
}

// Container background and color
@mixin nfip-container($background, $color) {
  background: $background;
}

// font-family mixins
@mixin nfip-sans-serif {
  font-family: "Source Sans Pro Web", "Helvetica Neue", "Helvetica", "Roboto",
    "Arial", sans-serif;
}
@mixin nfip-serif {
  font-family: "Merriweather Web", "Georgia", "Cambria", "Times New Roman",
    "Times", serif;
}

// Max-width media query
@mixin at-media-between($bpmin, $bpmax) {
  @include at-media($bpmin) {
    @include at-media-max($bpmax) {
      @content;
    }
  }
}

// remove 1px space / border between header and content
.usa-header + .usa-section,
.usa-header + main {
  border: none;
}

.margin-bottom-08em {
  &,
  &:last-child {
    margin-bottom: 0.8rem;
  }
}

.margin-top-08em {
  &,
  &:last-child {
    margin-top: 0.8rem;
  }
}
