// dependencies
@use "usa-accordion" as *;
@use "../../../nfip-colors/src/styles" as *;
@use "../../../styles/nfip-utility" as *;

.nfip-accordion{

  &.usa-accordion{
    margin: 0 auto;
  }

  h2.usa-accordion__heading {
    @include nfip-h2;
  }
  h3.usa-accordion__heading {
    @include nfip-h3;
  }
  h4.usa-accordion__heading {
    @include nfip-h4;
  }
  h5.usa-accordion__heading {
    @include nfip-h5;
  }

  .usa-accordion__heading{
    @include nfip-sans-serif;
    border-top: 2px solid $theme-color-base-lightest;
    padding-bottom: 0;

    &:last-of-type{
      border-bottom: 2px solid $theme-color-base-lightest;
      padding-bottom: .5rem;

      &:has(button[aria-expanded=true]){
        border-bottom: none;
      }
    }

    .usa-accordion__button{
      border: unset;
      color: $theme-color-primary-darker;
      background-color: transparent;
      background-position: left 1rem center;
      background-image: url('../img/add_nfip-dark-blue.svg');
      background-size: 1em;
      padding: 1.2rem 1.5rem 1.2rem 3.5rem;
      margin-top: 0.8rem;
  
      &:hover{
        background-color: transparent;
        background-image: url('../img/add_nfip-light-blue.svg');
        background-size: 1em;
        color: $theme-color-accent-cool;
      }
  
      &[aria-expanded=false]{
        background-image: url('../img/add_nfip-dark-blue.svg');
        background-size: 1em;
  
        &:hover{
          background-image: url('../img/add_nfip-light-blue.svg');
          background-size: 1em;
        }
      }
  
      &[aria-expanded=true]{
        background-image: url('../img/remove_nfip-light-blue.svg');
        background-size: 1em;
        color: $theme-color-accent-cool;
  
        &:hover{
          background-image: url('../img/remove_nfip-light-blue.svg');
          background-size: 1em;
          color: $theme-color-accent-cool;
        }
      }
    }
  }
  
  .usa-accordion__content{
    padding-top: .5rem;
    padding-left: 3.5rem;
    padding-bottom: 2rem;
    color: $theme-color-base-darkest;
    background-color: transparent;

    &.bg-white{
      background-color: #fff;
    }
    &.bg-accent-cool-lighter{
      background-color: $theme-color-accent-cool-lighter;
    }
    &.bg-accent-warm-lighter{
      background-color: $theme-color-accent-warm-lighter;
    }
    &.bg-base-lighter{
      background-color: $theme-color-base-lighter;
    }
    &.bg-color-base-lightest{
      background-color: $theme-color-base-lightest;
    }
    &.bg-accent-cool-lightest{
      background-color: $theme-color-accent-cool-lightest;
    }
  }
}