// dependencies
@use "usa-accordion" as *;
@use "../../../nfip-colors/src/styles" as *;
@use "../../../styles/nfip-utility" as *;

.nfip-accordion{
  &.nfip-icon-accordion{
    .usa-accordion__button{
      display: flex;
      align-items: center;
      padding: 1rem 3.5rem 1rem 1rem;
      background-position: right 1rem center;

      img{
        display: none;
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 50%;

        @include at-media("mobile-lg"){
          display: block;
        }
      }
    }

    .usa-accordion__heading{
      border: none;
      border-radius: 8px;
      padding-bottom: 0;

      &:has( button[aria-expanded=true] ){
        border-radius: 8px 8px 0 0;
      }
      &:last-of-type{
        border: none;
        padding-bottom: 0;
      }
    }
    .usa-accordion__heading:not(:first-child), .usa-prose .usa-accordion__heading:not(:first-child){
      margin-top: 1.125rem;
    }

    .usa-accordion__content{
      padding-right: 1rem;
      padding-left: 1rem;
      border-radius: 0 0 8px 8px;

      @include at-media("mobile-lg"){
        padding-right: 2.82rem;
        padding-left: 2.82rem;
      }
    }
  }
}