/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
COLOR SETTINGS
----------------------------------------
Read more about settings and
USWDS color tokens in the documentation:
https://designsystem.digital.gov/design-tokens/color
----------------------------------------
*/

$test-system-color-tokens: false !default;

/*
----------------------------------------
Theme palette colors
----------------------------------------
*/

// Base colors
$theme-color-base-family: "gray" !default;
$theme-color-base-lightest: #f5f5f6 !default;
$theme-color-base-lighter: #edeeee !default;
$theme-color-base-light: #dedfe0 !default;
$theme-color-base: #c0c2c4 !default;
$theme-color-base-dark: #929395 !default;
$theme-color-base-darker: #5b616b !default;
$theme-color-base-darkest: #19191a !default;
$theme-color-base-ink: #19191a !default;

// Primary colors
$theme-color-primary-family: "blue-cool" !default;
$theme-color-primary-lightest: false !default;
$theme-color-primary-lighter: #d6e3ec !default;
$theme-color-primary-light: #7aa5c1 !default;
$theme-color-primary: #005288 !default;
$theme-color-primary-vivid: "blue-warm-60v" !default;
$theme-color-primary-dark: #003e67 !default;
$theme-color-primary-darker: #002b47 !default;
$theme-color-primary-darkest: false !default;

// Secondary colors
$theme-color-secondary-family: "red-cool" !default;
$theme-color-secondary-lightest: #f6d9de !default;
$theme-color-secondary-lighter: false !default;
$theme-color-secondary-light: #d24b62 !default;
$theme-color-secondary: #c41230 !default;
$theme-color-secondary-vivid: false !default;
$theme-color-secondary-dark: #950e24 !default;
$theme-color-secondary-darker: #660919 !default;
$theme-color-secondary-darkest: false !default;

// Accent warm colors
$theme-color-accent-warm-family: "green" !default;
$theme-color-accent-warm-lightest: #e5eede !default;
$theme-color-accent-warm-lighter: #d2e2c6 !default;
$theme-color-accent-warm-light: #abc994 !default;
$theme-color-accent-warm: #5e9732 !default;
$theme-color-accent-warm-dark: #477326 !default;
$theme-color-accent-warm-darker: #314f1a !default;
$theme-color-accent-warm-darkest: false !default;

// Accent cool colors
$theme-color-accent-cool-family: "cyan" !default;
$theme-color-accent-cool-lightest: #d6e9f2 !default;
$theme-color-accent-cool-lighter: #b8d9e8 !default;
$theme-color-accent-cool-light: #7ab9d5 !default;
$theme-color-accent-cool: #0078ae !default;
$theme-color-accent-cool-dark: #005b84 !default;
$theme-color-accent-cool-darker: #003e5a !default;
$theme-color-accent-cool-darkest: false !default;

/*
----------------------------------------
State palette colors
----------------------------------------
*/

// Error colors
$theme-color-error-family: $theme-color-secondary !default;
$theme-color-error-lighter: $theme-color-secondary-lightest !default;
$theme-color-error-light: $theme-color-secondary-light !default;
$theme-color-error: $theme-color-secondary !default;
$theme-color-error-dark: $theme-color-secondary-dark !default;
$theme-color-error-darker: $theme-color-secondary-darker !default;

// Warning colors
$theme-color-warning-family: "nfip-yellow" !default;
$theme-color-warning-lighter: #fde6b8 !default;
$theme-color-warning-light: #fde6b8 !default;
$theme-color-warning: #fac04e !default;
$theme-color-warning-dark: "gold-30v" !default;
$theme-color-warning-darker: "gold-50v" !default;

// Success colors
$theme-color-success-family: $theme-color-accent-warm !default;
$theme-color-success-lighter: $theme-color-accent-warm-lightest !default;
$theme-color-success-light: $theme-color-accent-warm-lighter !default;
$theme-color-success: $theme-color-accent-warm !default;
$theme-color-success-dark: $theme-color-accent-warm-dark !default;
$theme-color-success-darker: $theme-color-accent-warm-darker !default;

// Info colors
$theme-color-info-family: $theme-color-primary !default;
$theme-color-info-lighter: $theme-color-accent-cool-lightest !default;
$theme-color-info-light: $theme-color-accent-cool-lighter !default;
$theme-color-info: $theme-color-primary !default;
$theme-color-info-dark: $theme-color-primary-dark !default;
$theme-color-info-darker: $theme-color-primary-darker !default;

// Disabled colors
$theme-color-disabled-family: "gray" !default;
$theme-color-disabled-lighter: "gray-20" !default;
$theme-color-disabled-light: "gray-40" !default;
$theme-color-disabled: "gray-50" !default;
$theme-color-disabled-dark: "gray-70" !default;
$theme-color-disabled-darker: "gray-90" !default;

// Emergency colors
$theme-color-emergency: $theme-color-secondary !default;
$theme-color-emergency-dark: $theme-color-secondary-darker !default;

/*
----------------------------------------
General colors
----------------------------------------
*/

// Body
$theme-body-background-color: "white" !default;

// Text
$theme-text-color: "ink" !default;
$theme-text-reverse-color: "white" !default;

// Links
$theme-link-color: "primary" !default;
$theme-link-visited-color: "violet-70v" !default;
$theme-link-hover-color: "primary-darker" !default;
$theme-link-active-color: "primary-darker" !default;
$theme-link-reverse-color: "accent-cool-lightest" !default;
$theme-link-reverse-hover-color: "white" !default;
$theme-link-reverse-active-color: "white" !default;
