@use "uswds-core" as *;
@use "../../styles/nfip-utility" as *;

.nfip-section {
  @include nfip-sans-serif;

  &:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

.nfip-quote {
  background-image: url(nfip/nfip-components/bg-water-1.svg);
  background-size: 6.25rem 22.63rem;
  background-repeat: repeat-x;
  background-position: bottom;
}
