@use "../../../styles/nfip-utility" as *;

.usa-card.usa-card--quote {
  width: 100%;

  .usa-card {
    &__container {
      border: 0;
      padding-left: 40%;
    }

    &__media {
      position: absolute;
      top: 0;
      left: 0;
      width: 40%;
    }
  }
}
