@use "../../nfip-colors/src/styles" as *;
@use "../../styles/nfip-utility" as *;
@use "uswds-core" as *;

.nfip-homepage-hero{
  background-repeat: no-repeat;
  background-size: cover;

  &--gradient{
    background-color: rgba(0, 43, 71, .85); // uses NFIP Dark Blue color value
    
    @include at-media(tablet){
      background-color: transparent;
      background-image: linear-gradient(to right, rgba(0, 43, 71, .87) 40%, transparent 90%, transparent); // uses NFIP Dark Blue color value
    }
  }
}

