@use "uswds-core" as *;
@use "../../../styles/nfip-utility" as *;

.usa-card {
  .usa-card__header {
    h2 {
      @include nfip-h2;
    }
    h3 {
      @include nfip-h3;
    }
    h4 {
      @include nfip-h4;
    }
    h5 {
      @include nfip-h5;
    }
    h6 {
      @include nfip-h6;
    }
  }
  .usa-card__heading {
    @include nfip-sans-serif;

    span {
      font-size: 0.6em;
    }
  }

  &.flsm-stat-cards--card{
    .usa-card__container{
      border: 0;
      @include u-radius(0);
    }
  }

  &.flsm-card--arrow {
    --arrow: 2rem;
    margin-top: 4.4rem;

    > a {
      position: relative;
      height: 100%;
      padding-bottom: 1.6rem;
      text-decoration: none;

      .usa-card__heading {
        transition: all 0.3s;
      }

      .usa-card__container {
        display: grid;
        grid-template-columns: auto 2rem;
        grid-template-rows: auto auto;
        align-items: stretch;
        gap: 0 1rem;
        border: 0;
        @include u-radius(0);

        &:after {
          content: "";
          width: 100%;
          height: 0.4rem;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all 0.3s;
          background: #cfcfcf;
          background: linear-gradient(
            to right,
            $theme-color-accent-cool 50%,
            #cfcfcf 50%
          );
          background-size: 200% 1%;
          background-position: right;
        }

        .usa-card__header,
        .usa-card__body {
          padding-left: 0;
          padding-right: 0;
        }
        .usa-card__header {
          padding-top: 0;
        }
      }

      &:hover,
      &:focus {
        .usa-card__container {
          &:after {
            background-position: left;
          }
        }

        .usa-card__heading,
        .flsm-button-arrow {
          color: $theme-color-accent-cool;
        }

        .usa-card__heading {
          color: $theme-color-accent-cool;
          text-decoration: underline;
          text-decoration-color: $theme-color-accent-cool;
        }
      }
    }

    @include at-media-max(tablet) {
      margin: 2rem 0;
    }

    .flsm-button-arrow {
      span {
        @include sr-only;
      }
      svg {
        width: 1.2rem;
        height: 1.2rem;
        margin-left: -0.5rem;
        padding: 0;
        height: 100%;
        transition: all 0.3s;
      }
    }
  }

  @import "./styles/nfip-wave-card";
  @import "./styles/nfip-resource-card";
}

.nfip-cards-container {
  &.grid-row.grid-gap > * {
    padding-left: 0;
    padding-right: 0;
  }
}

.nfip-card {
  margin: 0 1.6rem 1.6rem;
  min-height: 230px;

  &.v-center,
  &.v-bottom {
    display: flex;
    flex-direction: column;
  }
  &.v-center {
    justify-content: center;
  }
  &.v-bottom {
    justify-content: end;
  }

  &__media {
    &.nfip-card__media--inset {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
  }

  &__img {
    border-top-left-radius: calc(0.25rem - 2px);
    border-top-right-radius: calc(0.25rem - 2px);
    background-color: #f0f0f0;
    position: relative;
    overflow: hidden;

    img {
      display: block;
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  &__header {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  p.nfip-card__heading {
    @include nfip-h3;
    margin-top: 0.8rem;
  }

  &__heading {
    font-weight: 700;
    margin-bottom: 0;

    span {
      font-size: 0.5em;
      text-transform: lowercase;
      vertical-align: bottom;
    }
  }

  &__body {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  &.nfip-card--stats {
    p.nfip-card__heading {
      @include nfip-h2;
    }

    p,
    .nfip-card__heading {
      margin-bottom: 0;
    }
  }

  @import "./styles/_nfip-card-more-info";
  // @import "./styles/_nfip-card-latest-resources";
}
