@use "../../nfip-colors/src/styles" as *;
@use "../../styles/nfip-utility" as *;

.nfip-tabs {
  @import "nfip-tabs-styles/vertical";
  @import "nfip-tabs-styles/horizontal";
}

.nfip-tabs-tab-heading {
  cursor: pointer;
  transition: all 0.3s;
}

.nfip-tabs-tabcontent {
  text-align: left;
}

.nfip-tabs-mobile {
  transition: all 0.3s;
  padding: 0 20px;

  select {
    width: 100%;
    color: #002b46;
    min-height: 41px;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 0;
    background-color: #ffffff;
    border: 3px solid $theme-color-base-lighter;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-wrap: wrap; // make text visible on mobile

    .nfip-section.bg-white & {
      background-color: $theme-color-base-lightest;
    }
  }

  > div {
    position: relative;

    &:after {
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 9px 4.5px 0 4.5px;
      border-color: #002b46 transparent transparent transparent;
      transform: rotate(0deg);
      content: "";
      position: absolute;
      right: 16px;
      top: 16px;
    }
  }

  @media screen and #{$tablet} {
    display: none;
  }
}
