@use "uswds-core" as *;
@use "../../../../nfip-colors/src/styles" as *;
@use "../../../../styles/nfip-utility" as *;

.filters{
  button.usa-accordion__button{
    background-image: url("../../../../../../dist/img/usa-icons/expand_more.svg");
    background-image: none;

    &:hover{
      background-image: none
    }
    &:after{
      content: "";
      background-color: $theme-color-accent-cool;
      width: .75rem;
      height: .75rem;
      background-size: 100%;
      position: absolute;
      right: 0;
      margin-right: 1.5rem;
      mask: url("../../../../../../dist/img/usa-icons/expand_more.svg") no-repeat center;
    }
    &[aria-expanded=true]{
      &:after{
        mask: url("../../../../../../dist/img/usa-icons/expand_less.svg")  no-repeat center;
      }
    }
  }
}

.items-per-page{

  .usa-select{
    background-image: url("../../../../../../dist/img/usa-icons/expand_more.svg");
    background-size: 1.25rem 1.25rem;
  }
}

.usa-accordion.nfip-accordion.flsm-view-accordion{

  .usa-accordion__heading{
    border: none;
    
    &:last-of-type{
      border: none;
    }
  }
}