&.tabs-vertical {
  @media screen and #{$tablet} {
    display: flex;
  }

  [role="tablist"] {
    display: none;

    h2,
    h3,
    h4,
    h5{
      margin: 0;
    }

    .nfip-tabs-tab-heading{
      color: $theme-color-base-darkest;

      &[aria-selected=true]{
        font-weight: bold;
        border-bottom: 3px solid $theme-color-accent-cool;
      }
    }

    @media screen and #{$tablet} {
      display: flex;
      flex-direction: column;
    }
  }
}