@use "usa-button" as *;
@use "../../../../nfip-colors/src/styles" as *;
@use "../../../../styles/nfip-utility" as *;

// Mixins
@mixin outline($outline-color: $theme-color-primary-dark, $hover-color: #fff) {
  color: $outline-color;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px $outline-color;

  &:hover,
  &:active {
    color: $hover-color;
    box-shadow: none;
  }

  &:not([disabled]) {
    &:focus {
      @include nfip-focus;
      color: $outline-color;
      box-shadow: inset 0 0 0 2px $outline-color, 0 0 0 2px #fff;

      &:hover,
      &:active {
        color: $hover-color;
      }
    }
  }
}

@mixin arrow(
  $color: $theme-color-accent-cool,
  $hover-color: $theme-color-primary-darker
) {
  padding: 0.32rem 0;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: left;
  text-decoration: none;
  color: $color;
  background: transparent;
  border: none;
  font-weight: 600;
  cursor: pointer;

  svg {
    margin-left: 0.32rem;
    min-width: 1em;
    transition: margin-left 0.2s;
  }

  &:hover {
    svg {
      margin-left: 0.5rem;
    }
  }
  &:hover,
  &:focus {
    color: $hover-color;
    box-shadow: inset 0 -1px 0 0 $hover-color;

    svg {
      color: $hover-color;
    }
  }
}

@mixin hover-transition-rtl(
  $color1: $theme-color-accent-cool,
  $color2: $theme-color-primary-darker
) {
  background: linear-gradient(to right, $color1 50%, $color2 50%);
  background-size: 200% 1% !important;
  transition: background 1s ease, color 1s ease;

  &:hover {
    background-position: right !important;
  }
}

@mixin hover-transition-ltr(
  $color1: $theme-color-primary-darker,
  $color2: $theme-color-accent-cool
) {
  background: linear-gradient(to left, $color1 50%, $color2 50%);
  background-position: right !important;
  background-size: 200% 1% !important;
  transition: background 1s ease, color 1s ease;

  &:hover {
    background-position: left !important;
  }
}

.usa-button,
button.usa-button {
  // Button base / Default button
  padding: 0.75rem 1.25rem;
  font-weight: 600;
  border-radius: 2px;
  color: #fff;
  background-color: $theme-color-primary-dark;

  &:hover {
    background-color: $theme-color-accent-cool;
  }
  &:active {
    background-color: $theme-color-primary-darker;
  }
  &:not([disabled]) {
    &:focus {
      @include nfip-focus;
    }
  }
  &:disabled,
  &[aria-disabled="true"] {
    color: $theme-color-base-darker;
    background-color: $theme-color-base-light;

    &:hover {
      color: $theme-color-base-darker;
      background-color: $theme-color-base-light;
    }
  }

  // accent cool lighter button
  &.flsm-button--accent-cool-lighter {
    color: $theme-color-primary-darker;
    background-color: $theme-color-accent-cool-lighter;

    &:hover {
      color: $theme-color-primary-darker;
      background-color: #fff;
    }
    &:active {
      color: $theme-color-primary-darker;
      @include u-bg("blue-cool-30");
    }
  }

  // Outline button
  &--outline {
    @include outline;
  }

  &.usa-button--unstyled{
    color: color($theme-link-color);
    text-decoration: underline;
    background-color: transparent;

    &:hover,
    &:active{
      color: color($theme-link-hover-color);
    }
  }

  // matching current NFIP class for accent cool lighter button
  &.usa-button--accent-cool-lighter{
    color: $theme-color-primary-darker;
      background-color: $theme-color-accent-cool-lighter;

      &:hover {
        color: $theme-color-primary-darker;
        background-color: #fff;
      }
      &:active {
        color: $theme-color-primary-darker;
        @include u-bg("blue-cool-30");
      }
  }
}

// Arrow button - custom
.flsm-button-arrow,
button.flsm-button-arrow {
  @include arrow;
}
// Arrow full width version
.flsm-button-arrow-fw,
button.flsm-button-arrow-fw {
  @include arrow;
  width: 100%;
  justify-content: space-between;
}

// Dark background tweaks
.usa-dark-background {
  .usa-button,
  button.usa-button {
    // Button base / Default button
    color: $theme-color-primary-darker;
    background-color: $theme-color-accent-cool-lighter;

    &:not(.usa-button--outline) {
      &:visited {
        color: $theme-color-primary-darker;
      }
    }

    &:hover {
      color: $theme-color-primary-darker;
      background-color: #fff;
    }
    &:active {
      color: $theme-color-primary-darker;
      @include u-bg("blue-cool-30");
    }
    &:not([disabled]) {
      &:focus {
        @include nfip-focus($theme-color-accent-cool-lighter);
        box-shadow: none;
      }
    }

    // Outline button
    &--outline {
      @include outline(#fff, $theme-color-primary-darker);

      &:not([disabled]) {
        &:focus {
          @include nfip-focus($theme-color-accent-cool-lighter);
          box-shadow: inset 0 0 0 2px #fff;
        }
      }
    }

    &.usa-button--unstyled{
      color: color($theme-link-reverse-color);
      text-decoration: underline;
      background-color: transparent;
  
      &:hover,
      &:active{
        color: color($theme-link-reverse-hover-color);
      }
    }
  }

  // Arrow button
  .flsm-button-arrow,
  button.flsm-button-arrow {
    @include arrow(#fff, $theme-color-accent-cool-lighter);

    &:not([disabled]) {
      &:focus {
        @include nfip-focus($theme-color-accent-cool-lighter);
        box-shadow: inset 0 -1px 0 0 $theme-color-accent-cool-lighter;
      }
    }
  }
  // Arrow full width version
  .flsm-button-arrow-fw,
  button.flsm-button-arrow-fw {
    @include arrow(#fff, $theme-color-accent-cool-lighter);

    &:not([disabled]) {
      &:focus {
        @include nfip-focus($theme-color-accent-cool-lighter);
        box-shadow: inset 0 -1px 0 0 $theme-color-accent-cool-lighter;
      }
    }
  }
}