@use "sass:list";

@use "uswds-core" as *;

@use "../../../../nfip-colors/src/styles" as *;

.nfip-summary-box {
  &.usa-summary-box {
    border: 0;
    border-radius: 0;
    background-color: $theme-color-accent-cool-lightest;
    padding: units(4) units(3);

    &:first-child {
      margin-top: 0;
    }
  }

  &__tag {
    font-size: font-size($theme-button-font-family, "sm");
    text-transform: uppercase;
    color: $theme-color-primary;
    @include u-text("semibold");
  }
}
