@use "uswds-core" as *;
@use "../../nfip-colors/src/styles" as *;
@use "../../styles/nfip-utility" as *;

// @use "../../../packages/nfip/nfip-colors/src/styles" as *;
@use "uswds-core/src/styles/mixins/general/focus-outline" as *;

@function dr($px) {
  @return ($px / 16) * 1rem;
}

.nfip-calendar-feed {
  display: flex;
  flex-direction: column;
  gap: dr(40);
  @include at-media("desktop") {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: dr(40) dr(20);
  }
  &__event {
    @include at-media("tablet") {
      display: flex;
      gap: dr(20);
    }

    a {
      text-decoration-color: rgba($theme-color-primary-darker, 0);
      transition: all 0.3s;

      &:hover {
        text-decoration-color: currentColor;
      }
    }
  }

  &__date,
  &__start-end {
    width: dr(80);
    flex-shrink: 0;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    color: $theme-color-primary-darker;
    margin-bottom: dr(20);

    @include at-media("tablet") {
      margin-bottom: 0;
    }
  }

  &__date {
    height: dr(80);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-color: $theme-color-base-lightest;
    .month {
      @include u-font-size(sans, 7);
      line-height: 1em;

      @include at-media("tablet-lg") {
        @include u-font-size(sans, 8);
      }
    }
    .day {
      @include u-font-size(sans, 11);
      line-height: 1em;

      @include at-media("tablet-lg") {
        @include u-font-size(sans, 12);
      }
    }
  }

  &__start-end {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: dr(10) dr(32) dr(10);
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: dr(14);
    line-height: dr(13.3);

    > div {
      align-self: center;
      height: 42px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }

    .start {
      grid-column: 1;
      grid-row: span 2;
      background-color: $theme-color-accent-cool-lighter;
    }

    .end {
      grid-column: 2;
      grid-row: 2 / span 2;
      background-color: $theme-color-base-lightest;
    }
  }

  &__times {
    > span {
      + span {
        margin-left: units(1);
        display: inline-block;
      }
    }
  }
}
