// ======== Functions ========
// Tint a color - bring it a percentage closer to white #fff. The effect is more subtle than using lighten()
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Shade a color - bring it a percentage closer to black #000. The effect is more subtle than using darken()
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// ======== Variables ========
// Custom colors from NFIP/Floodsmart palette
$nfip-gray: #858d97;
$nfip-violet: #2f4876;
$nfip-violet-30: tint($nfip-violet, 30%);
$nfip-violet-60: shade($nfip-violet, 30%);
$nfip-teal: #086172;
$nfip-teal-30: tint($nfip-teal, 30%);
$nfip-teal-60: shade($nfip-teal, 30%);
$nfip-orange: #f47f2d;
$nfip-orange-30: tint($nfip-orange, 30%);
$nfip-orange-60: shade($nfip-orange, 30%);
$nfip-yellow: #fac04e;
$nfip-yellow-20: tint($nfip-yellow, 60%);
$nfip-yellow-30: tint($nfip-yellow, 30%);
$nfip-yellow-60: shade($nfip-yellow, 30%);

// ======== Utility Classes ========

// Generate a list of classes that change font, border, and background color
$colors: (
  nfip-violet: $nfip-violet,
  nfip-violet-30: $nfip-violet-30,
  nfip-violet-60: $nfip-violet-60,
  nfip-teal: $nfip-teal,
  nfip-teal-30: $nfip-teal-30,
  nfip-teal-60: $nfip-teal-60,
  nfip-orange: $nfip-orange,
  nfip-orange-30: $nfip-orange-30,
  nfip-orange-60: $nfip-orange-60,
  nfip-yellow: $nfip-yellow,
  nfip-yellow-20: $nfip-yellow-20,
  nfip-yellow-30: $nfip-yellow-30,
  nfip-yellow-60: $nfip-yellow-60,
  nfip-gray: $nfip-gray,
);

@mixin color-modifiers {
  @each $key, $value in $colors {
    &-#{$key} {
      color: $value;
    }
  }
}
@mixin background-color-modifiers {
  @each $key, $value in $colors {
    &-#{$key} {
      background-color: $value;
    }
  }
}
@mixin border-color-modifiers {
  @each $key, $value in $colors {
    &-#{$key} {
      border-color: $value;
    }
  }
}

.bg-transparent {
  background-color: transparent;
}
