@at-root {
  .nfip-resource-card-group {
    &.usa-card-group {
      margin: 0;

      @include at-media(tablet) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
      }

      .usa-card {
        &,
        &__container {
          @include at-media(tablet) {
            display: grid;
            grid-row: 1 / span 3;
            grid-template-rows: subgrid;
          }
        }

        &__body {
          @include u-font-size("sans", "sm");
        }
      }
    }
  }
}

.nfip-resource-card {
  border: 1px solid $theme-color-base-lighter;
  padding: units(1.5);

  .usa-card {
    &__img {
      aspect-ratio: 1 / 1;
      img {
        border-radius: units(1);
      }
    }

    &__header,
    &__body,
    &__footer {
      padding: 0;
    }
  }

  .nfip-card {
    &__tag {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      gap: (5/16) * 1rem;
      padding: units(2) 0;
      margin: units(2) 0 0 0;
      border-top: 1px solid $theme-color-base-light;
      @include u-font-size("sans", "3xs");
      line-height: 1em;
      @include u-text("white", "uppercase");

      li {
        // background-color: $theme-color-base-darker;
        border: 1px solid $theme-color-base;
        border-radius: 2px;
        text-wrap: nowrap;
        padding: (2/16) * 1rem (3/15) * 1rem;

        &,
        a {
          color: $theme-color-base-darker;
          text-decoration: none;
        }

        &.active {
          background-color: $theme-color-base-lightest;
          border-color: $theme-color-accent-cool;
        }
      }
    }

    &__eyebrow {
      @include u-font-size("sans", "micro");
      @include u-text("bold", "base-darker");
      text-transform: uppercase;
      margin: units(1.5) 0;
    }
  }
}

@at-root {
  .nfip-resource-card-group-horizontal {
    &.usa-card-group {
      // @include at-media(tablet) {
      //   flex-direction: column;
      // }
      // @include at-media(desktop) {
      //   flex-direction: row;
      // }
    }
  }
}

.nfip-resource-card-horizontal {
  @include at-media(mobile-lg) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    column-gap: units(1.5);
  }

  @include at-media(tablet) {
    grid-template-columns: auto;
  }

  @include at-media(tablet-lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  .usa-card {
    &__media {
      grid-column: 1;
      grid-row: 1 / span 2;
    }

    &__body {
      @include u-font-size("sans", "2xs");
    }
  }

  .nfip-card {
    &__eyebrow {
      margin-top: 0;
    }
  }
}

/* 
435 
217


*/
