

@use "../../../nfip-colors/src/styles" as *;
@use "../../../styles/nfip-utility" as *;

.nfip-primary-container{
  @include nfip-container ($theme-color-accent-cool-lightest, #000);
}

@media (min-width: 0px) and (max-width: 640px) {

  .nfip-column-text {
    order: 2;
    margin-top: 1.6rem;
    text-align: center;
  }

  .nfip-column-media {
    order: 1;
    text-align: center;
  }
}