@use "uswds-core" as *;
@use "../../../styles/nfip-utility" as *;

.nfip-three-up {
  --colpad: 1rem;

  @include at-media-max("desktop") {
    text-align: center;

    > div {
      margin: 3.2rem 0;
    }
  }

  @include at-media("desktop") {
    margin: 0 calc(var(--colpad) * -1);

    > div {
      padding: 0 calc(var(--colpad) + 0.4rem);
    }
  }

  h3 {
    @include at-media-max(desktop) {
      font-size: 2.4rem;
    }
  }

  .nfip-button {
    text-transform: uppercase;
  }
}
