@use "uswds-core" as *;
@use "../../../styles/nfip-utility" as *;

.nfip-hero {
  --image-offset: 3rem;

  margin-bottom: var(--image-offset);

  &__body {
    margin-top: var(--image-offset);
  }

  &__image {
    margin-bottom: calc(var(--image-offset) * -1);
    @include at-media("desktop") {
      position: relative;
      bottom: calc(var(--image-offset) * -1);
      margin-bottom: 0;
    }
    img {
      display: block;
      object-fit: cover;

      @media screen and (min-width: 40rem) and (max-width: 60rem) {
        aspect-ratio: 17 / 7;
      }
    }
  }
}
