@use "../../nfip-colors/src/styles" as *;
@use "../../styles/nfip-utility" as *;

.usa-process-list.nfip-process-list {
  color: $theme-color-primary-darker;
  .usa-process-list {
    &__item {
      max-width: none;
      &:before {
        border-color: $theme-color-primary-darker;
        margin-top: -0.2em;
      }
    }

    &__heading {
      color: $theme-color-primary-darker;
    }
  }
}
