@use "../../nfip-colors/src/styles" as *;
@use "../../styles/nfip-utility" as *;

.usa-modal.nfip-modal {
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  .usa-modal {
    &__content {
      border-radius: 1rem;
      padding: 0;
      background-color: #ffffff;
      width: 100%;
      margin: auto;
    }

    &__main {
      padding-bottom: 2rem;
      padding-top: 0;

      @include at-media("tablet"){
        padding: 0 5rem 4rem;
        max-width: 100%;
      }
    }

    &__close {
      margin: 0.5rem;
      color: #000;
      background-color: transparent;

      &:hover {
        color: $theme-color-accent-cool;
      }
    }
  }

  .usa-prose > p {
    max-width: none;
  }
}
